*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    background: whitesmoke;
 overflow-x: hidden;
  font-family: 'Playfair Display', serif;

}

.topbar{
   
      color: white;
      background: black;
      padding: 6px 0;
      font-size: 20px;
      letter-spacing: 1px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap; 
   }
.track{
   gap: 50px;
   display: inline-flex;
   width: max-content;
   animation: scroll 18s linear infinite;
}
.topbar:hover .track{
    animation-play-state: paused;
}
.track span i{
margin-right: 8px;
}
      .track span{ 
      
         align-items: center;
      display: inline-flex;
         font-size: 15px;
         
      }
      
      @keyframes scroll {
         from{transform:translateX(0);}
to{transform:translateX(-50%)}
      }





    header{  
      
      position: relative;
      z-index: 1000;
      width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        border-bottom: 1px solid #e3e0e0;

    /* logo */
    .logo{
      
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 24px;
  text-transform: uppercase;

    }
    .logo a{
      text-decoration: none;
      color: #333;
      
      
   
    }

.menu{
display: flex;
gap: 40px;
margin: 0 auto;

}
.menu a{
   text-decoration: none;
   color: #333;
   font-size: 14px;
   transition: 0.2s;
   position: relative;
   font-size: 13PX;
   letter-spacing: 1PX;
}   
.menu a:hover{
   text-decoration: underline;
   text-underline-offset: 6px;
   
}
.menu a::after{
   content: "";
   position: absolute;
   right: 0;
   width: 0;
   bottom: -5px;
   height: 2px;
   background: black;
   transition: 0.2s;

}
.menu a:hover::after{
   width:100%;
   left: 0;
   right: auto;
}
 .menu a.SPECIAL{
   color: red;

   
}
.icon{
   display: flex;
   gap: 15px;
} 


.fa-solid{
   font-size: 15px;
   cursor: pointer;
}
 
.cart{
    position: relative;
}
 .numero{
    position: absolute;
     font-size: 10px; 
     display: flex;
     right: -10px;
     top: -7px;
     justify-content: center;
     align-items: center;
     width: 18px;
     height: 18px;
     border-radius: 50%;
     background: black;
     color: rgb(227, 220, 220);
     transform: translateY(50%,-50%);
 }

 @media (min-width:768px) {
   .menu{
      display: none;
   }
   
   .logo{
      font-size: 30px;
      color: #eee;

   }
   
   .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      gap: 30px;
   }
   
 
.productos img{
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
    }

    @media (max-width:769px) {
      .menu{
         display: none;
      }
      
      .fa-user{
         display: none;
      }
      .productos{
        grid-template-columns:repeat(3,1fr) ; 
      }
    }

    @media (min-width:1024px) {
.menu{
   display: flex;
}
.menu-icon{
   display: none;
}
.fa-user{
   display: inline;
}
.productos{
   grid-template-columns: repeat(4,1fr);
}
    }
    }
     /* ********* mobile-header **********/
     .mobile-header{
      display: flex;
      color:white;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
      .logo-icon{
         color: white;
display: flex;
         align-items: center;
         gap: 15px;
      }
      /* icon movil */
.icon{
   display: flex;
   align-items: center;
   gap: 15px;

}
   .icon a{
      color: white;
      display: flex;
      text-decoration: none;
      align-items: center;
   }
}
    
    /* ********************
     breadcrumb
    ************************** */
    /* hero */
    .hero{ position: relative;
      width: 100%;
     overflow: hidden; 
     object-fit: fill;
      margin: auto;
      color: white;
      position: relative;
      height: 100vh;
      background:url(image/hero1.jpeg) no-repeat;
   background-position: 60%center;
   background-size: cover;
    }
      
   
      .hero::before{
         content: "";
         position: absolute;
         inset: 0;
         background: rgba(0, 0, 0, 0.2);


      }
      
      .container{
         left: 50px;
         top: 40px;
         position: relative;
         width: 90%;
         height: 90vh;
         border: 1px solid rgb(255, 255, 255,0.4);
         border-radius: 25px;
         
         overflow: hidden;
         align-items: center;
      }
      
      /* logo */
      .logo1{
      align-items: center;
      gap: 12px;
         
         top: 60px;
      display:flex;
position: absolute;
left: 40px;
text-transform: uppercase;

z-index: 2;
}
i.fa-gem {

display: flex;
   color: black;
   width: 30px;

   height: 30px;
   align-items: center;
   justify-content: center;

   border-radius: 50%;
   background-color:  white;
      }
      .navbar{
         position: absolute;
         top: 60px;
         left: 80%;
         transform: translateX(-50%);
         background: rgba(255, 255, 255, 0.6);
         border-radius: 30px;
         backdrop-filter: blur(15px);
         display: flex;
         z-index: 2;

         padding: 10px 25px;
         gap: 20px;
      }
      
      .navbar a{
         text-decoration: none;
         color:black;
         background: transparent;
padding: 10px 25px;
border-radius: 20px;
         
      }
      .navbar a:hover{
         background: black;
         color: white;

      }
      .hero-text{
         color: #f5f5f5;
         position: absolute;

         top: 50%;
         right: 8%;
         transform: translateY(-50%);
         z-index: 2;
      }
      .hero-text h1{
         line-height: 1.1;
         font-size: 170px;
         text-shadow: 0 5px 20px rgb(255, 255, 255,0.3);
         letter-spacing: 3px;
      }
      .hero-text button{
         cursor: pointer;
         margin-top: 20px;
         padding: 10px 25px;
         font-size: 14px;
         border-radius: 25px;
         border: none;
      } 
      .hero-text button:hover{
 transform: scaleY(1.2);
 transition: 1s;
 background: gray;
      }
.nabar-icon{
   position: absolute;
   display: flex;
   
   gap: 10px;
   left: 40px;
   bottom: 150px;
z-index: 10px;

}
.nabar-icon{
       
       transition: all 0.2s ease;
       cursor: pointer;
    }
    .nabar-icon .fa-instagram:hover{
transform: translateY(-8%);
background: rgb(241, 57, 57);
    }
    .fa-facebook:hover{
      background: blue;
      transform: translateY(-8px);
    }
    .fa-twitter:hover{
     background: blue; 
     transform: translateY(-8px);
    }
     .fa-youtube:hover{
      background: red;
      transform: translateY(-8%);
     }

.nabar-icon i{
   width: 35px;
   height: 35px;
   background: rgb(255, 255, 255,0.2);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.card{
   margin-top: 10px;
   border-radius: 20px;
   position: absolute;
   letter-spacing: 1px;
   left: 40px;
   bottom: 40px;
   background: white;
   color: black;
   display: flex;
   gap: 10px;
   padding: 15px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   z-index: 2;
}
.card img{
   width: 60px;
   border-radius: 10px;
}
.hero-desc{
  right:  20px; 
   position: absolute;
   right: 60px;
   bottom: 80px;
   max-width:250px ;
   font-size: 14px;
   z-index: 2;
   letter-spacing: 1px;
}
   

@media (max-width:768px) {
   .hero{
      height: auto;
       padding: 60px 20px;
   }
   

   .hero-text{
      margin-top: 50%;
      position: static;
      transform: none;
      text-align: center;
      /* animation: fadeUp 1s ease; */
   }
   
     .hero-text{
  animation: fadeUp 1s ease;
}

@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
 

   }

   .hero-text h1{
      font-size: 70px;
   }
   .hero-text button{
      margin-bottom: 20px;
      color:white ;
      background: #333;
      transition:all 0.3s ease;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  }
  .hero-text button:hover{
   transform: translateX(10px);
   box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  }
   
   .navbar{
      display: none;
   }
   .logo1{
      text-align: center;
      margin-left: 100px;
      margin-top: 20px;
      font-size: 50px;
      gap: 30px;
   }
.logo1 i .fa-gem{
   position: static;
   background:white;
color: black;

}/*
.card{
   position: static;
   margin-top: 20% auto;
   max-width: 300px;
   transition: all 0.3s ease;
   border-radius: 20px;
   overflow: hidden;
   margin-left: 10px;

   

}
.card:hover{
   transform: translateY(-10px);
   box-shadow: 0 15px 30px rgb(0, 0, 0,0.2);
}
  .card img{
   transition: 0.3s;
  }
  .card img:hover{
   transform: scale(1.05);
  }
  
.hero-desc{
   transform: none;
   position: static;
   margin-top: 20%;
   color: #fff;
   margin-left: 40%;
   text-shadow: 0 2px 10px rgba(0, 0, 0,0.3);
}
  

   */
   .hero-desc{
      position: static;
      margin-top: 10%;
      margin-left: 150px;
      line-height: 1.1;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 12px;
color: #fff;
opacity: 0.7;

   }
    .card{
      display: none;
      transform: scale(0.9);
    }
    .nabar-icon{
       margin-left: 100px;
       transition: all 0.2s ease;
       cursor: pointer;
    }
    .nabar-icon .fa-instagram:hover{
transform: translateY(-8%);
background: rgb(241, 57, 57);
    }
    .fa-facebook:hover{
      background: blue;
      transform: translateY(-8px);
    }
    .fa-twitter:hover{
     background: blue; 
     transform: translateY(-8px);
    }
     .fa-youtube:hover{
      background: red;
      transform: translateY(-8%);
     }
}
@media (min-width:769px) and (max-width:1024px){
   .hero{
      height:100vh ;
      padding: 30px;
   }
   .hero-text h1{
    font-size: 100px;  
}
.hero-text button{
   background: black;
   color: white;
   transition: 0.2s;
   
}
.hero-text button:hover{
   transform: translateX(10px);
}
 .hero-text{
  animation: fadeUp 1s ease;
}

@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
 

   }

.navbar{
   left: 60%;
   
   
}
.card{
   transform: scale(0.9);
}
.card:hover{
   transform: translateY(-10px);
   box-shadow: 0 15px 30px rgb(0, 0, 0,0.2);
}
  .card img{
   transition: 0.3s;
  }
  .card img:hover{
   transform: scale(1.05);
  }
  
.hero-desc{
font-size: 14px;
max-width: 300px;
}
.nabar-icon{
       
       transition: all 0.2s ease;
       cursor: pointer;
    }
    .nabar-icon .fa-instagram:hover{
transform: translateY(-8%);
background: rgb(241, 57, 57);
    }
    .fa-facebook:hover{
      background: blue;
      transform: translateY(-8px);
    }
    .fa-twitter:hover{
     background: blue; 
     transform: translateY(-8px);
    }
     .fa-youtube:hover{
      background: red;
      transform: translateY(-8%);
     }
}
/* products */
.products{
  padding: 100px 8%; 
  background: url(image/pj4.jpeg);
  background-position: center;
  background-attachment:fixed ;
  color: white;
  border-top: 1px solid rgb(255, 255, 255,0.2);
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 45px;
   margin-bottom:10px ;
   letter-spacing: 2px;
text-transform: uppercase;

}
 h2 i{
   position: absolute;
   font-size: 20px;
   padding:12px ;
   background: gold!important;
   color:white !important;
   border-radius: 50%;
   right: 1px;
   

}
.section-title p{
   color: #bbb;
}
.products-contaioner{
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
}
.product-cadr{
   text-align: center;
   background: #1a1a1a;
   border-radius: 20px;
   overflow: hidden;
   width: 300px;
   padding-bottom: 20px;
   transition: 0.3s;
   flex-direction: column;
}
.product-cadr:hover{
   transform: translateY(-10px);
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.product-cadr img {
width: 100%;
height: 350px;
object-fit: cover;
transition: 0.4s;
}
.product-cadr img:hover{
   transform: scale(1.05);
}
.product-cadr h3{
   font-size: 25px;
   margin: 20px;
}
.product-cadr span{
   margin-left: 20px;
   color: gold;
   font-size: 20px;
}
.product-cadr button{

    display: block;
    margin:  25px;
    padding:  10px 20px ;
    border: none;
    border-radius: 30px;
    background: white;
    cursor: pointer;
    transition: 0.3s;}
    .product-cadr button i{
      margin-right: 8px;
   
      
    }
.product-cadr button:hover{
   background: gold;
    transform: translateY(-10px);
}
@media (max-width:768px) {
   .products{

      padding: 120px 10%;
   }
   
   .section-title h2{
      font-size: 35px;
   }
   .logo1 i{
      font-size: 15px;
      color: gold;
   }
   .logo1 i:hover{
      color: #0d0d0d;
   }
   .products-contaioner{
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
   .product-cadr{
      width: 100%;
      

   }
   .product-cadr img{
      height: 260px;
   }
}
@media (min-width:769px) and (max-width:1024px) {
   .products{
   padding: 60px 5%;
}
.section-title h2{
   font-size: 35px;
}
.products-contaioner{
   grid-template-columns: repeat(3,1fr);
   display: grid;
   gap: 10px;
   
}
.product-cadr{
   width: 100%;
}
.product-cadr img{
   width: 260px;
}
}
/* branda */
.brands{
   padding: 100px 8%;
   background: black;
   color: white;
}
.brands-title{
   text-align: center;
   margin-top: 60px;
}
.brands-title span{
   margin-bottom: 20px;
   color: gold;
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 3px;
}

.brands-title h2 {
    font-size: 45px;
    text-transform: uppercase;
   margin-bottom:  20px;

}
.container-brand{
   margin-top: 60px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 40px;
}
.brands-title:hover{
         color: gold;
      }
.brand-box{
   text-transform: capitalize;
   width: 250px;
   height: 90px;
   display: flex;
   align-items: center;
   transition: 0.4s ease;
   justify-content: center;
   border: 1px solid rgba(255 , 215, 0, 0.1);
}
.brand-box:hover{
   color: gray;
   transform: translateY(-5px);
   border-color: gold;
   background: #111;
   box-shadow:  0 0 20px rgb(255, 215, 0,0.3);
}
.logo h2{
   font-size: 42px;
   letter-spacing: 8px;
}
.logo2 h2{
   font-size: 30px;
color: gold;
}
.logo3{
   text-align: center;
   font-size: 20px;
font-style: italic;


   }
   .logo4{
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 5px;
   }
   @media (max-width:768px) {
     .brands  {
      padding: 60px 5%;
     }
     .brands-title h2{
      font-size: 44px;
      letter-spacing: 2px;
     }
     .container-brand{
      gap: 10px;
      grid-template-columns: repeat(2,1fr);
      display: grid;
     }
   }
     @media (min-width:769px)and (max-width:1024px) {
      .brands{
         padding: auto;
      }
      .brands-title h2{
         font-size: 54px;
         letter-spacing: 3px;
      }
      .brands-title:hover{
         color: gold;
      }
      .container-brand{
         grid-template-columns: repeat(3,1fr);
         display: grid;
         gap:20px ;
      }
   }
/*  services */
.services{
    padding: 100px 8%;
    background: #0d0d0d;
    color: white;
}

.services-title{
    text-align: center;
    margin-bottom: 70px;
}

.services-title span{
    color: gold;
    letter-spacing: 3px;
    font-size: 14px;
}

.services-title h2{
    font-size: 45px;
    margin-top: 10px;
}
.services-title:hover{
      color: gray;
      transition: all 0.1s ease;}

.services-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card{
    background: #111;
    width: 320px;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(255,215,0,0.1);
    transition: 0.4s;
}

.service-card:hover{
    transform: translateY(-10px);
    border-color: gold;
    box-shadow: 0 0 25px rgba(255,215,0,0.2);
}

.service-card i{
    font-size: 45px;
    color: gold;
    margin-bottom: 25px;
}

.service-card h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.service-card p{
    color: #bbb;
    line-height: 1.7;
}
@media (max-width:768px) {
   .services{
      padding: 100px 5%;
   }
   .services-title h2{
       font-size: 30px;
       text-transform: uppercase;
       letter-spacing: 1px;
   }
   .services-title:hover{
      
      color: gray;
      transition: all 0.1s ease;
   }
   .services-container{
      grid-template-columns: repeat(2,1fr);
      display: grid;
      
      gap: 15px;
      
   }
   .service-card{
       width:100% ;
   }
   .service-card :hover{
      color: gray;
      transform: translateY(-8px);
      transition: all 0.3s ease;
   }

   .service-card h3{
      font-size: 16px;
   }
   .service-card p{
      font-size: 12px;
   }
}
@media (min-width:769px)and (max-width:1024px) {
   .services{
      padding: 50px 8%;

   }
   .services-title h2{
      font-size: 40px;
      letter-spacing: 1px;
      text-transform: uppercase;
   }
   .services-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      flex-wrap: wrap;
      gap: 20px;
   }
}
/* testimoniles */
.testimoniles{
   padding: 100px 10%;
   background: #111;
   color: white;
   .testimoniles-container{
      display: grid;
      grid-template-columns: repeat(2.1fr);
gap: 15px;
   }
   .testimoniles-title{
      text-align: center;
      margin-bottom: 60px;
   }
   .testimoniles-title p{
      color: gold;
      font-size: 15px;
      line-height: 1.7;
      letter-spacing: 5px;

   }
   .testimoniles-title h2{
font-size: 62px;  
font-weight: bold;
letter-spacing: 4px;   
color: white; 
    animation: fadeUp 1s ease;

   }
   .testimoniles-title h2:hover{
color:gray;
   }
   .testimoniles-card p{
      letter-spacing: 2px;
      font-size: 20px;
      margin-bottom: 10px;
   }
   .testimoniles-card h3{
      letter-spacing: 2px;
      font-size: 15px;

   }
.testimoniles-card{
   
   
   background: #1a1a1a;
   padding:40px 20px;
   border-radius: 20px;
   text-align: center;
   transition: 0.3s;
   border: 1px solid rgba(255, 255, 255, 0.5);
   
}
.testimoniles-card:hover{
   transform: translateY(-10px);
   border: 1px solid gold;
   box-shadow:  0 10px 30px rgb(255, 255, 255,0.2);
}
.testimoniles-card img{
   width: 90px;
   height: 90px;

   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 20px;
   border: 3px solid gold;
}
}

@media (max-width:768px) {
   .testimoniles{
      padding: 100px 10%;

   }
   .testimoniles-title h2{
      letter-spacing: 5px;
      text-transform: capitalize;
      font-size: 40px;
      margin-top: 10px;
   }
   .testimoniles-container{
      grid-template-columns: repeat(2,1fr);
      display: grid;
   }
   .testimoniles-card  img{
 transition: all 0.3s ease;
 object-fit: cover;     

   }
   .testimoniles-card img:hover{
      transform: scale(1.1);
      border: 2px solid gray;
   }
}
@media (min-width:769px)and (max-width:1024px) {
.testimoniles{
  padding: 120px 5%;
}
   
.testimoniles-title h2{
   text-transform: capitalize;
   margin-top: 10px;
   
}
.testimoniles-title p:hover{
color: gray;
}
.testimoniles-container{
   gap: 15px;
   grid-template-columns: repeat(2,1fr);
}
.testimoniles-card p{
   letter-spacing: 2px;
   font-size: 15px;
}
.testimoniles-card h3{
   letter-spacing: 2px;
   margin-bottom: 10px;
   font-size: 20px;
}
.testimoniles-card img:hover{
   transform: scale(1.1);
   object-fit: cover;
   border: 3px solid gray;
}
}
@media (min-width:1024px) {
   .testimoniles{
      padding: 120px 10%;
   }
   .testimoniles-title h2{
      letter-spacing: 2px;
      text-transform: capitalize;
   }
   .testimoniles-container{
     grid-template-columns: repeat(2,2.1fr);
     margin-top: 60px;
     gap: 30px;
   }
   .testimoniles-card{
     transition: 0.4s ease; 
      
      
   }
   .testimoniles-card  img{
 transition: all 0.3s ease;
 object-fit: cover;     

   }
   .testimoniles-card img:hover{
      transform: scale(1.1);
      border: 2px solid gray;
   }
.testimoniles-card:hover{
   transform: translateY(-10px) scale(1.03);
}
}
/* footer */
.footer{
   width: 100%;
    background: #0f0f0f;
    padding: 60px 10%;
    text-align: center;
    border-top: 1px solid gold;
}

.footer-logo h2{
    color: #fff;
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.footer-logo p{
    color: #aaa;
    margin-bottom: 30px;
}

.footer-links{
    margin-bottom: 30px;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    
    margin: 0 15px;
    transition: 0.3s;
    font-weight: bold;
}

.footer-links a:hover{
    color: gray;
}

.footer-social{
    
    
    margin-bottom: 30px;
}

.footer-social i{
    color: #fff;
    font-size: 22px;
   margin: 0 10px;
    border: 1px solid #333;
    align-items: center;
    justify-content: center;
    padding: 4px ;
    
    
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.footer-social i:hover{
    color: white;
    border: 1px solid grey;
    transform: translateY(-5px);
}
.fa-instagram:hover{
   
   background: red;
}

.copyright{
    color: #777;
    font-size: 14px;
    margin-top: 20px;
}
/*  satyl icon */
  .mobile-menu{
   
   overflow: hidden;
   position: absolute; 
    display: flex;
    position: fixed;
    top: 0px;
    background: url(image/image8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: -100%;
     width: 100%;
     height: 100vh;
     
     padding: 60px 20px;
     transition: 0.4s;
     z-index: 1000;
     box-shadow: 10px 0 30px rgba(0,0,0,0.5);
     flex-direction: column;
     border: 2px solid white;
/* icon movil */




   }


   .mobile-menu.active{
    left: 0;
   }
   .mobile-menu a{
     color: white;
     text-decoration: none;
     margin: 15px 0;
     font-size: 18px;
     opacity: 0;
     transform: translateX(-20);
     transform: 0.4s;
   }
   .mobile-menu a:hover{
      color: gold;
      padding-left: 10px;
      transform: scale(1.0);
   }
   .mobile-menu.active a{
    opacity: 1;
    transform: translateX(0);
   }
   .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
display: none;

   }
   .overlay.active{
    display: block;
   }
/* close-menu */
.close-menu{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;}
    .mobile-header .close-menu:hover{
color: rgb(208, 18, 18);
 
    }


